<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAW8j19TP4Ef5niiRWTawkm0MLz6G1z1Po</string>
	<key>GCM_SENDER_ID</key>
	<string>731857392171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackFront</string>
	<key>PROJECT_ID</key>
	<string>artatlas-2c109</string>
	<key>STORAGE_BUCKET</key>
	<string>artatlas-2c109.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731857392171:ios:a98c88e72f047ede23d06e</string>
</dict>
</plist>